html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fcf8f4;
    color: #24160b;
    height: 100%;
    width: 100%;
    min-width: 375px;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

button {
    padding: 0;
    border: 0;
    cursor: pointer;
}
input,
textarea {
    box-shadow: none !important;
    &:focus{
        outline: none;
    }
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0;
}

.Container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.Home{
    
}